@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  background-color: #594f4f;
  font-family: "Roboto Condensed";
  margin: 0;
}
.z-up {
  position: relative;
  z-index: 1;
}
nav ul {
  background-color: #9de0ad;
  margin: 0;
  padding: 0;
  padding-top: .5em;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  background-color: #e5fcc2;
  color: #45ada8;
  display: inline-block;
  margin-left: .25em;
  padding: 1em;
  text-decoration: none;
}
.track-search {
  position: relative;
}
.home .current-track {
  margin-left: 50px;
}
.search-box {
  position: absolute;
  top: 0;
  width: 100%;
}
.search-box .search-icon {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  height: 53px;
  line-height: 1;
  padding: 1rem;
}
.search-box .search-icon:hover {
  color: #45ada8;
}
.search-box form {
  display: none;
  width: calc(99% - 50px);
}
.search-box form button {
  display: none;
}
.search-box form input {
  border: none;
  padding: 1rem;
  width: 100%;
}
.current-track div {
  background-color: #547980;
  color: white;
  font-size: 1.3rem;
}
.current-track div .track-play {
  background-color: #4a6a71;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 1rem;
}
.current-track div .track-play:hover {
  background-color: #5e888f;
}
.current-track div span:nth-child(2) {
  line-height: 1;
  padding: 1rem;
}
.current-track div span:last-child {
  float: right;
  line-height: 1;
  padding: 1rem;
}
.info-view {
  color: white;
  float: left;
  width: 40%;
}
.info-view img {
  width: 100%;
  max-width: 400px;
}
.info-view ul {
  margin: 0;
  padding: 1rem;
}
.info-view li {
  list-style-type: none;
}
.info-view span,
.info-view a {
  color: #e5fcc2;
}
.all-tracks,
.favorite-tracks {
  float: left;
  width: 60%;
}
.track-list {
  background-color: #45ada8;
  color: white;
  font-size: 1.1rem;
  line-height: 1;
  padding: 1rem;
}
.track-list .track-play {
  background-color: #e5fcc2;
  color: #547980;
  cursor: pointer;
  padding: .5rem;
}
.track-list .track-star,
.track-list .track-title {
  padding: .5rem;
}
.track-list .track-star {
  cursor: pointer;
}
.track-list .track-duration {
  padding: .5rem;
  text-align: right;
}
