<div class="search-icon">
    <span class="fa fa-search"></span>
</div>
<form class="search-field">
    <input type="text" placeholder="Search by genre, artist, or keyword">
    <button type="submit">Submit</button>   
</form>
