<div class="track-item" data-id="{{id}}">
    <span class="track-play" data-state="play">&#9658;</span>
    <span class="track-star">&#9734;</span>
    <span class="track-title">{{title}}</span>
    <span class="track-duration">{{duration}}</span>
</div>