    <td class="track-play" data-state="play" data-id="{{id}}">&#9658;</td>
    <td class="track-star">&#9734;</td>
    <td class="track-title">{{title}}</td>
    <td class="track-duration">{{duration}}</td>
